* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

nav {
    background-color: rgb(0, 153, 255);
    padding: 20px;
    color: white;
    text-align: center;
}

.container {
    background-color: rgb(189, 224, 221);
    color: white;
    width: 70%;
    margin: auto;
    min-height: 100vh;
    padding: 30px;
    box-sizing: border-box;
}

.container>form {
    display: flex;
    flex-direction: column;
    /* padding: 10px; */
}
.container > h1{
    text-align: center;
    color: black;
    margin: 30px;
}
input,textarea,button{
    padding: 20px;
    border: 1 px solid black;
    border-radius: 5px;
    margin: 10px;
}
button{
    background-color: black;
    color: white;
    font-size: 15px;
}



@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')